# Nunca coloque este arquivo preenchido no GitHub.
APP_MODE=demo
ORACLE_USER=SEU_USUARIO
ORACLE_PASSWORD=SUA_SENHA_DO_BANCO
ORACLE_DSN=fiap_low
ORACLE_CONFIG_DIR=C:\Oracle\Wallet_FIAP
ORACLE_WALLET_PASSWORD=SENHA_DA_WALLET
SELECT_AI_PROFILE=HOSPINTEL_AI

